:root{
  --key-color: #d81cff;

  --d-pad-rotate-angle: 20deg;

  --d-pad-translate: 13px;
}

body {
  background: var(--key-color) !important;
}

.controller.active {
  background: center / 100% auto url(https://pjmdesi.github.io/gpv-custom-skins/Body-no-d-pad.png) no-repeat;
  perspective: 2000px;
}

.xbox .sticks {
  top: 158px;
  left: 138px;
}

.xbox .stick.left {
  background: center / 100% auto url(https://pjmdesi.github.io/gpv-custom-skins/Analog-L.png) no-repeat;
}

.xbox .stick.right {
  background: center / 100% auto url(https://pjmdesi.github.io/gpv-custom-skins/Analog-R.png) no-repeat;
  top: 121px;
  left: 290px;
}

.xbox .arrows {
  position: absolute;
  width: 229px;
  top: 130px;
  left: 260px;
}

.xbox .arrows .button-select,
.xbox .arrows .button-start {
  width: 49px;
  height: 45px;
  opacity: 1;
}

.xbox .abxy {
  width: 162px;
  top: 119px;
  left: 486px;
}

.xbox .button.a {
  background: center / 100% auto url(https://pjmdesi.github.io/gpv-custom-skins/A.png) no-repeat;
}

.xbox .button.b {
  background: center / 100% auto url(https://pjmdesi.github.io/gpv-custom-skins/B.png) no-repeat;
}

.xbox .button.x {
  background: center / 100% auto url(https://pjmdesi.github.io/gpv-custom-skins/X.png) no-repeat;
}

.xbox .button.y {
  background: center / 100% auto url(https://pjmdesi.github.io/gpv-custom-skins/Y.png) no-repeat;
}

.xbox .button.a.pressed {
  margin-top: 2px;
  background-image: url(https://pjmdesi.github.io/gpv-custom-skins/A-active.png);
}

.xbox .button.b.pressed {
  margin-top: 2px;
  background-image: url(https://pjmdesi.github.io/gpv-custom-skins/B-active.png);
}

.xbox .button.x.pressed {
  margin-top: 2px;
  background-image: url(https://pjmdesi.github.io/gpv-custom-skins/X-active.png);
}

.xbox .button.y.pressed {
  margin-top: 2px;
  background-image: url(https://pjmdesi.github.io/gpv-custom-skins/Y-active.png);
}

.xbox .button {
  width: 55px;
  height: 55px;
}

.xbox .dpad {
  width: 128px;
  height: 128px;
  top: 260px;
  left: 210px;

  transition: transform .1s ease-in-out;

  background: center / 100% auto url(https://pjmdesi.github.io/gpv-custom-skins/D-Pad.png) no-repeat;
}

.xbox .dpad>span {
  display: none;
}

/* rotate3d(x, y, z, a) */
.xbox .dpad:has(.up.pressed) {
  transform: translate3d(0, calc( -1 * var(--d-pad-translate) ), -2px ) rotate3d(1, 0, 0, var(--d-pad-rotate-angle));
}

.xbox .dpad:has(.up.pressed~.left.pressed) {
  transform: translate3d(calc( -1 * var(--d-pad-translate) ), calc( -1 * var(--d-pad-translate) ), -2px ) rotate3d(1, -1, 0, var(--d-pad-rotate-angle));
}

.xbox .dpad:has(.left.pressed) {
  transform: translate3d(calc( -1 * var(--d-pad-translate) ), 0, -2px ) rotate3d(0, -1, 0, var(--d-pad-rotate-angle));
}

.xbox .dpad:has(down.pressed~.left.pressed) {
  transform: translate3d(calc( -1 * var(--d-pad-translate) ), var(--d-pad-translate), -2px ) rotate3d(-1, -1, 0, var(--d-pad-rotate-angle));
}

.xbox .dpad:has(.down.pressed) {
  transform: translate3d(0, var(--d-pad-translate), -2px ) rotate3d(-1, 0, 0, var(--d-pad-rotate-angle));
}

.xbox .dpad:has(.down.pressed~.right.pressed) {
  transform: translate3d(var(--d-pad-translate), var(--d-pad-translate), -2px ) rotate3d(-1, 1, 0, var(--d-pad-rotate-angle));
}

.xbox .dpad:has(.right.pressed) {
  transform: translate3d(var(--d-pad-translate), 0, -2px ) rotate3d(0, 1, 0, var(--d-pad-rotate-angle));
}

.xbox .dpad:has(.up.pressed~.right.pressed) {
  transform: translate3d(var(--d-pad-translate), calc( -1 * var(--d-pad-translate) ), -2px ) rotate3d(1, 1, 0, var(--d-pad-rotate-angle));
}
