:root{
  --key-color: #d81cff;
}

body {
  background: var(--key-color) !important;
}

.controller.active {
  background: center / 750px auto url(https://pjmdesi.github.io/gpv-custom-skins/controller-base.png);
}
